<table class='table table-hover'>
  <thead>
    <tr>
      <th>Event Stats</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @client.order_events.each do |event, frequency| %>
      <tr>
        <td><a href="<%= @client.identifier %>/events/<%= event %>"><%= event %></a></td>
        <td class="text-right"><%= frequency %></td>
      </tr>
    <% end %>
  </tbody>
</table>
