<table class='table table-hover'>
  <thead>
    <tr>
      <th>Hourly Breakdown</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total Hits</td>
      <td class="text-right"><%= @event.total %></td>
    </tr>
    <% 0.upto(23) do |hour| %>
    <tr>
      <td><%= "#{hour}:00 - #{hour + 1}:00" %></td>
      <td class="text-right"><%= @event.by_hour(hour) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
