
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Resolutions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @client.resolution_breakdown.each do |resolution, value| %>
      <tr>
        <td><%= "#{resolution[0]} x #{resolution[1]}" %></td>
        <td class="text-right"><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
