<div class='container'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Resolutions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @client.resolutions.breakdown.each do |k, v| %>
        <tr>
          <td><%= "#{k[0]} x #{k[1]}" %></td>
          <td class="text-right"><%= v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
