
<table class='table table-hover'>
  <thead>
    <tr>
      <th>URL Stats</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @client.order_urls.each do |url, frequency| %>
      <tr>
        <td><a href="<%= @client.identifier %>/urls<%= URI(url).path %>"><%= url %></a></td>
        <td class="text-right"><%= frequency %></td>
      </tr>
    <% end %>
  </tbody>
</table>
