<div class='container'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Top User Agents</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @url.top_three_user_agents.each do |user_agent, count| %>
      <tr>
        <td><%= "#{user_agent[0]},  #{user_agent[1]}" %></td>
        <td class="text-right"><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
