<table class='table table-hover'>
  <thead>
    <tr>
      <th>Browser Breakdown</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @client.browser_breakdown.each do |browser, value| %>
      <tr>
        <td><%= browser %></td>
        <td class="text-right"><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class='container'>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>OS Breakdown</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @client.platform_breakdown.each do |platform, value| %>
      <tr>
        <td><%= platform %></td>
        <td class="text-right"><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
