body {
  padding-top: 70px;
  background-color: #2B2B2B; }

.user {
  background-color: #fff;
}

.navbar {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#index {
  color: #fff;
  background-color: #2B2B2B;
  border: none;
  }

.navbar-brand {
  font-size: 200%;
  font-weight: bold;
}

#login {
  font-size: 50%;
  font-weight: lighter;hub ;
}

#index-header {
  margin: 0px;
  padding: 0px
}

#index a {
  color: #fff;
}

#index-header-div {
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  background-color: #3498db;
  font-weight: bold;
  text-align: center;
}

#join-us {
  color: #fff;
  background-color: #2B2B2B;
  width: 50%;
  margin: 5%;
}

#index-features {
  text-align: center;
  background-color: #fff;
}

.glyphicon {
  height: 25px;
  width: 25px;
}

footer {
  background-color: #2B2B2B;
}
