<body>
  <nav id="index" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">RushHour</a>
      </div>
      <div id="login" class="navbar-header pull-right">
        <a class="navbar-brand" href="/login">login</a>
      </div>
    </div>
  </nav>
<div id="index-header" class="jumbotron">
  <div id="index-header-div" class="container-fluid">
    <h1>Turning insights into actions.</h1>
    <a href="/sources/signup"><button id="join-us" class="btn btn-lg">Join Us</button></a>
  </div>
</div>

<div id="index-features" class="jumbotron">
  <div class="container">
    <p><i class="icon-camera-retro icon-4x"></i></p>
    <h2><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small></h2><br>
    <p><i class="icon-bar-chart icon-4x"></i></p>
    <h2><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small></h2><br>
    <p><i class="icon-time icon-4x"></i></p>
    <h2><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small></h2><br>
  </div>
</div>
<footer>
</footer>
</body>
