<body>
<%= erb :'partials/_nav_bar' %>
<div class="jumbotron text-center">
  <h1><%= @client.client_name %></h1>
</div>

  <h3><%= "No payload data has been received for #{@client.client_name}" %></h3>
</body>
