<form action="/sources" method="post">
  <input name='identifier' class="form-control" type="text" placeholder="company">
  <input name='rootUrl' class="form-control" type="text" placeholder="website">
  <input id="sign_up" class='btn' type='submit' value='Join'>
</form>
