<body>
<%= erb :'partials/_nav_bar' %>

<div id="index-header" class="jumbotron">
<div id="index-header-div" class="container-fluid">
  <h1>Join Us</h1>
  <form action="/sources" method="POST">
    <div class="form-group">
      <label for="companyName">Company</label>
      <input type="text" class="form-control" name="identifier" placeholder="company">
    </div>
    <div class="form-group">
      <label for="InputPassword">Website</label>
      <input type="text" class="form-control" name="rootUrl" placeholder="www.website.com">
    </div>
    <button id="join-us" class="btn btn-lg" type="submit">Login</button>
  </form>
</div>
</div>

<footer>
</footer>
</body>
