<body>
  <nav id="index" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">RushHour</a>
        <a class="pull-right sub-header navbar-brand" href="/login">login</a>
      </div>
    </div>
  </nav>
  <div id="index-header" class="jumbotron">
    <div id="index-header-div" class="container-fluid">
      <h2 id="thanks">Thanks for joining us <%= params[:identifier] %>!
    </div>
  </div>

  <div id="index-features" class="jumbotron">
    <div class="container">
      <p><i class="icon-camera-retro icon-4x"></i></p>
      <h2><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small></h2><br>
      <p><i class="icon-bar-chart icon-4x"></i></p>
      <h2><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small></h2><br>
      <p><i class="icon-time icon-4x"></i></p>
      <h2><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small></h2><br>
    </div>
  </div>
  <footer>
  </footer>
</body>
