<body class="user">
<%= erb :'partials/_data_nav_bar' %>
<div class="data jumbotron text-center">
  <h1><%= @url.host %><%= @url.relative_path %></h1>
</div>
<%= erb :'partials/_url_stats' %>
</body>
